body {
    background-color: beige;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

ul,
ol {
    color: #004D60;
    font-size: medium;
}

#foto {
    width: 500px;
    height: 350px;
}

.logos {
    width: 70px;
    height: 70px;
}

.flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    font-size: 1rem;
    padding: 10px 16px;
    border-radius: 999px;
}

.flotante:hover {
    transform: scale(1.1);
}